body {
    background: #eee;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}

div.wrapper {
    display: flex;
    width: 300px;
    height: 300px;
    max-height: 100vh;
    background: #ffc0cb;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-top: 1px;
}

main {
    display: flex; 
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

h6:hover {
    transform: scale(1.1);
}

div.score {
    display: flex;
    justify-content: space-between;
    background: #fda7b5;
    align-items: center;
    flex-direction: row;
    flex: 1;
    width: 100%;
}

p.rock, p.paper, p.scissors {
    padding: 10px 20px;
    background: rgb(63, 63, 63);
    border-radius: 30px;
    color: rgb(189, 189, 189);
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

p.rock:hover, p.paper:hover, p.scissors:hover {
    background: #eee;
    color: black;
    cursor: pointer;
    transition: all 0.3s;
}

p.rock:active, p.paper:active, p.scissors:active {
    background: #333;
    color: rgb(189, 189, 189);
    cursor: pointer;
    transition: all 0.3s;
}

p.playerScore {
    padding-left: 10px;
}

p.computerScore {
    padding-right: 10px;
}

div.belowWrapper {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: white;
}

div.head {
    display: flex;
    background: white;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

div.winner {
    color: rgb(224, 168, 64);
    font-weight: bolder;
    text-align: center;
}

div.result {
    text-align: center;
}

.head p {
    font-size: 12px;
    display: flex;
    position: absolute;
    margin-top: 50px;

}

div.footerwrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    width: 100%;
    color: #636363;
}

footer {
    margin-top: 50px;
}

div.footerwrap p, a {
    margin: 0;
}

span {
    color: red;
}

div.footerwrap a {
    text-decoration: none;
    color: #636363;
    font-weight: bolder;
}

div.footerwrap a:hover {
    color: #333;
}